<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>91videos</title>
</head>
<body>
{%- for w in wanted %}
<a href="{{ w.href }}">{{ w.name }}</a>
<br/><br/>
{%- endfor %}
</body>
</html>